[%# <!-- This -*- HTML -*- template is part of Regano.
	 Regano is free software and may be redistributed and/or modified
	 under the same terms as Perl itself. --> ~%]

[%# <!-- To be wrapped inside "main-copy" div. --> -%]
TODO: Account login form
